

<h1>Hello</h1>

<form method="post" action="/locations/new" id="form_location">
  <div class="form-group">
    <label for="name">Name</label>
    <input class="form-control" type="text" name="name" id="name">
  </div>

  <div class="form-group">
    <label for="country">Country</label>
    <input class="form-control" type="text" name="country" id="country">
  </div>

  <div class="form-group">
    <label for="sport">Sport</label>
    <input class="form-control" type="text" name="sport" id="sport">
  </div>

  <div class="form-group">
    <label for="long">Long</label>
    <input class="form-control" type="text" name="long" id="long">
  </div>

  <div class="form-group">
    <label for="lat">Lat</label>
    <input class="form-control" type="text" name="lat" id="lat">
  </div>

  <div class="form-group">
    <label for="image">Image</label>
    <input class="form-control" type="text" name="image" id="image">
  </div>

  <input class="btn btn-default" type="submit" id="location_submit">
</form>


<script type="text/javascript" src="/js/newLocationTemp.js"></script>




 