<div class="ajax-log" style="display: none">
  <h1>Login</h1>
  <form id="login" method="post" action="/api/authenticate">
    <div class="form-group">
      <label for="email">Email</label>
      <input class="form-control" type="text" name="login-email" id="login-email">
    </div>

    <div class="form-group">
      <label for="email">Password</label>
      <input class="form-control" type="password" name="login-password" id="login-password">
    </div>

    <input class="btn btn-default" type="submit">
  </form>
</div>

<div class="ajax-sign" style="display: none">
<h1>Sign Up</h1>
 <form id="signup" method="post" action="/api/users">
   <div class="form-group">
     <label for="login-email">Email</label>
     <input class="form-control" type="text" name="signup-email" id="signup-email">
   </div>

   <div class="form-group">
     <label for="password">Password</label>
     <input class="form-control" type="password" name="signup-password" id="signup-password">
   </div>

   <input class="btn btn-default" type="submit">
 </form>
</div>