<!DOCTYPE html>
<html>

<head>
  <title>Extreme Advisor</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link href='https://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?sensor=false&key=<%= process.env.GOOGLE_API_KEY %>"></script>
  <script type="text/javascript" src="./js/app.js"></script>
</head>
<body>

  <header>
    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#" data-id="home">ExtremeAdvisor</a>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
            <li><a href="#" data-id="locations">Locations</a>
            </li>
            <li><a href="#" data-id="new-location">New Location</a>
            </li>
            <li><a href="#" data-id="sports">Sports</a>
            </li>
            <li><a href="#" data-id="users">Users</a>
            </li>
            <li><a href="#" data-id="login">Login</a>
            </li>
            <li><a href="#" data-id="signup">Sign Up</a>
            </li>
            <li><a href="#" id="logout-btn" data-id="logout">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>

  <div id="home" data-id="home" class="tab">
    <section class="image-bg-fixed-height">
      <div class="container home-img-txt">
        <div class="row">
          <h1>Add the world’s most extreme locations to your bucket list.</h1>
          <a href="#" class="btn btn-lg btn-success" data-id="login"><span class="glyphicon glyphicon-share-alt"></span> Log in</a>
          <a href="#" class="btn btn-lg btn-primary" data-id="signup"><span class="glyphicon glyphicon-cloud-upload"></span> Sign Up</a>
          <!-- <img class="img-responsive img-center" src="http://placehold.it/200x200&text=Logo" alt=""> -->
        </div>
      </div>
    </section>
    <div class="row featured-container">
      <div class="container">
        <section class="featured">
          <div class="col-md-4">
            <div class="circle">
              <image class="img-responsive img-center " src="../img/search.png" />
            </div>
            <h4 class="text-center">Discover new places to paraglide, ski or dive</h4>
          </div>
          <div class="col-md-4">
            <div class="circle">
              <image class="img-responsive img-center " src="../img/share.png" />
            </div>
            <h4 class="text-center">
           Share top secret spot with  your followers</h4>
          </div>
          <div class="col-md-4">
            <div class="circle">
              <image class="img-responsive img-center " src="../img/add.png" />
            </div>
            <h4 class="text-center">Add new places to the extreme bucket list</h4>
          </div>
        </section>
      </div>
    </div>
    <div class="container">
      <div class="col-xs-12 location-list">
        <div class="row">
          <div class="col-xs-6 sports-home">
            <div class="mini-box">
              <h2 class="text-left">Diving</h2>
            </div>
            <image class="img-responsive img-center img-rounded" src="../img/sky-diving.jpg" />
          </div>
          <div class="col-xs-6 sports-home">
            <div class="mini-box">
              <h2 class="text-left">Paragliding</h2>
            </div>
            <image class="img-responsive img-center img-rounded" src="../img/paragliding.jpg" />
          </div>
          <div class="col-xs-6 sports-home">
            <div class="mini-box">
              <h2 class="text-left">Skiing</h2>
            </div>
            <image class="img-responsive img-center img-rounded" src="../img/skiing.jpg" />
          </div>
          <div class="col-xs-6 sports-home">
            <div class="mini-box">
              <h2 class="text-left">Free Climbing</h2>
            </div>
            <image class="img-responsive img-center " src="../img/free-cli.jpg" />
          </div>
          <div class="col-xs-6 sports-home">
            <div class="mini-box">
              <h2 class="text-left">Surfing</h2>
            </div>
            <image class="img-responsive img-center img-rounded " src="../img/surfing.jpg" />
          </div>
          <div class="col-xs-6 sports-home">
            <div class="mini-box">
              <h2 class="text-left">Kite Surfing</h2>
            </div>
            <image class="img-responsive img-center img-rounded" src="../img/kitesurf.jpg" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <main class="container">
    <div id="new-location" class="tab">
      <div id="map"></div>

      <hr></hr>
      <h1>Add a Location</h1>
      <form class="form-horizontal">
        <div class="form-group">
          <label for="name">Name</label>
          <input class="form-control" id="location" name="location" type="text" placeholder="Enter location">
        </div>
        <div class="form-group">
          <label for="sport">Sport</label>
          <select class="form-control" name="selectpicker" id="sport-select" value="">
          </select>
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <input class="form-control" type="text" name="description" id="description" value="">
        </div>
        <div class="form-group">
          <label for="image">Image</label>
          <input class="form-control" type="text" name="image" id="image">
        </div>
        <div class="form-group">
          <input type="submit" id="submitLocation" name="locationBtn" class="btn btn-primary" value="Search Location">
        </div>
      </form>
    </div>
    <div id="login" class="tab">
      <h1>Login</h1>
      <form id="login-form" method="post" action="/api/authenticate">
        <div class="form-group">
          <label for="login-email">Email</label>
          <input class="form-control" type="text" name="login-email" id="login-email">
        </div>
        <div class="form-group">
          <label for="login-password">Password</label>
          <input class="form-control" type="password" name="login-password" id="login-password">
        </div>
        <input class="btn btn-default" type="submit">
      </form>
    </div>

    <div id="locations" class="tab container">

      <h1>Locations</h1>
      <div class="row">
        <ul id="locations-list">
        
        </ul>
      </div>

      

     
    </div>
    <div id="sports" class="tab">
      <h1>Sports</h1>
      <ul id="sports-list">
      </ul>
    </div>
    <div id="users" class="tab">
      <h1>Users</h1>
      <ul id="users-list">
      </ul>
    </div>

    <div id="welcome" class="tab">
      <h1>Welcome</h1>
    </div>

    <div id="locations" class="tab">
      <h1>Locations</h1>
      <ul id="locations-list" class="list-inline">
      </ul>
    </div>

    <div id="sports" class="tab">
      <h1>Sports</h1>
      <ul id="sports-list">
      </ul>
    </div>

    <div id="users" class="tab">
      <h1>Users</h1>
      <ul id="users-list">
      </ul>
    </div>


    <div id="welcome" class="tab">
      <h1>Welcome</h1>
    </div>

    <div id="signup" class="tab">
      <h1>Sign Up</h1>
      <form id="signup-form" method="post" action="/api/users">

        <div class="form-group">
          <label for="login-email">First Name</label>
          <input class="form-control" type="text" name="first_name" id="first_name">
        </div>

        <div class="form-group">
          <label for="last_name">Last Name</label>
          <input class="form-control" type="text" name="last_name" id="last_name">
        </div>

        <div class="form-group">
          <label for="signup-email">Email</label>
          <input class="form-control" type="text" name="signup-email" id="signup-email">
        </div>

        <div class="form-group">
          <label for="signup-password">Password</label>
          <input class="form-control" type="password" name="signup-password" id="signup-password">
        </div>

        <input class="btn btn-default" type="submit">
      </form>
    </div>
  </main>
  <footer class="footer">
    <div class="container">
      <p class="text-muted">Copyright.</p>
    </div>
  </footer>
</body>
</html>