<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/css/style.css">
   <script src="https://maps.googleapis.com/maps/api/js"></script>
   <script type="text/javascript" src="/js/maps.js"></script>
  <title>Main page</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script> google.maps.event.addDomListener(window, 'load', initialize);</script>
</head>
<body>
<div id="map"></div>

  <%- body %>
</body>
</html>