<!DOCTYPE html>
<html>
<head>
  <title>Main page</title>
   <link rel="stylesheet" type="text/css" href="/css/style.css">
   <script src="https://maps.googleapis.com/maps/api/js"></script>
   <script type="text/javascript" src="/js/maps.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
   <script> google.maps.event.addDomListener(window, 'load', initialize);</script>
   <script src="./js/models/user.js"></script>
   <script src="./js/main.js"></script>
</head>
<body>
  <div id="map"></div>
  <div id="users"></div>
  <%- body %>
</body>
</html>